.staffCards {
       display: flex;
       flex-direction: column;
       padding: 2rem;
       background: white;
       border-radius: 10px;
}

.birdImage {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

p {
    margin: 0.5rem;
}
